<%- include('./partials/header') -%>
<%- include('./partials/nav') -%> 

<article id="about" class="about-me lg:h-96 border-2 border-red-600">
    <div class="lg:flex lg:flex-row">
        <section class="abt-section lg:basis-2/5 ">
            <h3 class="text-3xl py-2 border border-dotted border-l-0 border-t-0 border-r-0 ">About Info</h3>
            <div class="about-content grid grid-cols-1 grid-rows-4 py-2 md:w-10/12 mt-1 lg:border lg:border-dotted lg:border-l-0 lg:border-t-0 ">
                <span class="items grid grid-cols-2 gap-0 py-1 border border-dotted border-white border-r-0 border-l-0  border-b-0 md:border-r lg:border-0 ">
                    <p class="label text-xl ">Full Name:</p>
                    <p class="attr text-base tracking-wide opacity-75"><%- aboutInfo.full_name -%></p>
                </span>
                <span class="items grid grid-cols-2 gap-0 py-1 border border-dotted border-white border-r-0 border-l-0  border-b-0 md:border-r lg:border-r-0 lg:border-b ">
                    <p class="label text-xl">Birthday:</p>
                    <p class="attr text-base tracking-wide opacity-75"><%- aboutInfo.dob -%></p>
                </span>
                <span class="items grid grid-cols-2 gap-0 py-1 border border-dotted border-white border-r-0 border-l-0  border-b-0 md:border-r lg:border-r-0 lg:border-b">
                    <p class="label text-xl">Location:</p>
                    <p class="attr text-base tracking-wide opacity-75"> <%- aboutInfo.address -%></p>
                </span>
                <span class="items grid grid-cols-2 gap-0 py-1 border border-dotted border-white border-r-0 border-l-0  border-b md:border-r lg:border-r-0 lg:border-b-0">
                    <p class="label text-xl">Day Job:</p>
                    <p class="attr text-base tracking-wide opacity-75"><%- aboutInfo.job -%></p>
                </span>
            </div>
        </section>
        <section class="mem lg:basis-3/5">
            <h3 class="text-3xl py-2 border border-dotted border-l-0 border-t-0 border-r-0 ">Bio</h3>
            <div class="bio mb-6">
                <p class="md:w-10/12 py-2">
                    <%- aboutInfo.bio -%> 
                </p>
            </div>

            <a href="/resume" ><h4 class="p-2  border-dotted border-2 rounded-sm w-56 hover:bg-white hover:text-black lg:hidden">check out my resume<i class="fa fa-solid fa-arrow-right text-white px-2 hover:text-black"></i></h4></a>
        </section>
    </div>
</article>

<%- include('./partials/footer') -%> 


