<%- include('./partials/header') -%>
<%- include('./partials/nav') -%>

<article class="lg:h-[28rem]  lg:overflow-y-scroll lg:scroll-smooth lg:border lg:border-dotted lg:border-r-0 lg:px-2 xl:h-[28.5rem]">
    <section class="md:grid md:grid-cols-2 md:grid-rows-2 md:gap-1 lg:gap-4">
        <% projects.forEach( item => { %>
            <a href="<%= item.url %> ">
                <div class="slot bg-white mt-4 hover:opacity-80 cursor-pointer">
                    <img src="<%= item.imageUrl %>" alt="<%= item.imageAlt %>" class="pics md:w-full md:h-64" />
                    <div class="info text-black p-1 md:min-h-min">
                        <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black"><%= item.name %></h4>
                        <p class="text-sm"><%= item.desc %></p>
                    </div>
                </div>
            </a>
        <% }) %>
        
        
        
<!--         
        <div class="slot bg-white mt-4">
            <img src="/images/easycare.jpg" alt="Image 1" class="pics md:w-full md:h-64">
            <div class="info text-black p-1 md:h-20">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">EasyCare Nigeria</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="slot bg-white mt-4">
            <img src="/images/img-2.JPG" alt="Image 2" class="pics md:w-full md:h-64">
            <div class="info text-black p-1 md:h-20">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">TicTacToe Online Multiplayer</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing </p>
            </div>
        </div>
        
        <div class="slot bg-white mt-4">
            <video src="/clips/vid-1.mp4" autoplay loop muted class="vids md:w-full md:h-64"></video>
            <div class="info text-black p-1 md:h-20">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">Recipe App</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="slot bg-white mt-4">
            <video src="/clips/vid-2.mp4" autoplay loop muted class="vids md:w-full md:h-64"></video>
            <div class="info text-black p-1 md:h-20">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">Video Streaming Web App</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecat</p>
            </div>
        </div>
         -->
    </section>

    <a href="/contact" >
        <h4 class="p-3 mt-3 border-dotted border rounded-sm w-64 hover:bg-white hover:text-black text-xs">
            Want to hire me?
            <i class="fa fa-solid fa-arrow-right text-white px-2 hover:text-black"></i>
        </h4>
    </a>

    <a href="/blog" >
        <h4 class="p-3 my-3 border-dotted border rounded-sm w-64 hover:bg-white hover:text-black text-xs">
            Want to know what I'm thinking?
            <i class="fa fa-solid fa-arrow-right text-white px-2 hover:text-black"></i>
        </h4>
    </a>
</article>

<%- include('./partials/footer') -%>