<%- include('./partials/header') -%>
<%- include('./partials/nav') -%>

<article class="lg:h-[28rem]  lg:overflow-y-scroll lg:scroll-smooth lg:border lg:border-dotted lg:border-r-0  lg:px-1 xl:h-[28.5rem]">
    <div class="x">
        <section class="pro-skill border border-dotted border-white mt-4 ">
            <h3 class=" text-3xl py-2 border border-dotted border-t-0 border-l-0 border-r-0 border-white">My Skills</h3>
            
            <ul class="grid grid-cols-3 my-2 md:grid-cols-4">
                <% resume.skills.forEach((skill) => { %>
                    <li class="flex flex-col justify-center my-2 h-24">
                        <img src="<%= skill.imageUrl %>"  alt="<%= skill.imageAlt %>" class=" w-14 h-14 mx-auto" />
                        <span class="text-sm text-center font-bold text-white"><%= skill.title %></span>
                    </li>
                <% }) %>
            </ul>
        </section>
        <section class="xp border border-dotted border-white mt-4">
            <h3 class=" text-3xl py-2 border border-dotted border-t-0 border-l-0 border-r-0 border-white">Work Experiences</h3>
            <div class="work-xp">                
                <% resume.workExp.forEach(xp => { %>
                <div class="work-id px-2 border border-dotted border-t-0 border-l-0 border-r-0 mt-2">
                    <h4 class="resume-tag text-lg font-bold"><%= xp.position %><span class="font-normal opacity-75"><%= xp.company %></span></h4>
                    <span class="resume-date text-sm opacity-75"><%= xp.date %></span>
                    <ul class="list-disc px-6 py-2">
                        <% xp.responsibilities.forEach(item => { %>
                            <li><%= item %></li>
                        <% }) %>
                    </ul>
                </div>
                <% }) %>
            </div>
        </section>
    </div>

    <div class="j">
        <section class="resume-item border border-dotted border-white mt-4">
            <h3 class=" text-3xl py-2 border border-dotted border-t-0 border-l-0 border-r-0 border-white">Education</h3>
            <div class="edu">
                <div class="edu-item px-2">
                    <p class="resume-tag text-lg font-bold"><%= resume.edu.degree %><span class="font-normal opacity-75"><%= resume.edu.school %></span></p>
                    <span class="resume-date text-sm opacity-75"><%= resume.edu.date %></span>
                </div>  
            </div>
        </section>

        <section class="resume-item border border-dotted border-white mt-4">
            <h3 class=" text-3xl py-2 border border-dotted border-t-0 border-l-0 border-r-0 border-white">Thesis</h3>
            <div class="pub px-2">
                <p class="pub-title text-lg font-bold"><%= resume.Thesis.title %></p>
                <span class="opacity-75 text-base"><%= resume.Thesis.desc %></span>
            </div>
        </section>

        <section class="resume-item border border-dotted border-white mt-4">
            <h3 class=" text-3xl py-2 border border-dotted border-t-0 border-l-0 border-r-0 border-white">Certifications</h3>
            <div class="edu">
                <% resume.Certificates.forEach( cert => { %>
                    <div class="edu-item p-2">
                        <p class="resume-tag text-lg font-bold"><%= cert.course %></p>
                        <span class="text-lg font-normal opacity-75">issued by: <%= cert.issued_by %></span>
                        <span class="resume-date block text-sm opacity-75"><%= cert.date %></span>
                    </div>
                <% }) %>
                  
            </div>
        </section>

        <section class="resume-item border border-dotted border-white mt-4">
            <h3 class=" text-3xl py-2 border border-dotted border-t-0 border-l-0 border-r-0 border-white">Interests</h3>
            <div class="Interests">
                <ul class="grid grid-cols-4 grid-rows-1 my-2 md:grid-cols-5">
                    <% resume.interests.forEach( item => { %>
                        <li class="flex flex-col justify-center my-2" alt="Listening to music">
                            <img src="<%= item.imageUrl %>" class="w-8 h-8 mx-auto" alt="<%= item.imageAlt %>">
                            <span class="text-xs text-center font-bold text-white"><%= item.title %></span>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </section>
        <div class="py-2">
            <button id="btn" class="text-xs my-2 border border-dotted p-3">Download my resume</button>
            <a href="/portfolio" ><h4 class="p-3  border-dotted border rounded-sm w-56 hover:bg-white hover:text-black text-xs">Have a look at my portfolio<i class="fa fa-solid fa-arrow-right text-white px-2 hover:text-black"></i></h4></a>
            
        </div>
    </div>
</article>

<%- include('./partials/footer') -%>