<%- include('./partials/header') -%>
</head>
<body class="bg-gray-100">

<div class="grid grid-cols-12">
    
    <%- include('./partials/nav') -%> 
    <div class="col-span-10 px-4">
        <h1 class="text-4xl col-span-9 mb-4">Dashboard -about</h1>

        <div>
            
            <form action="/dashboard/" method="POST" enctype="multipart/form-data" class="text-xs border-2 border-purple-400 p-4 relative">
                <div class="mx-auto my-3 absolute right-4 px-4">
                    <label class="inline-block font-bold mr-2 w-24" for="profile_pic">profile pic:</label>
                    <img src="<%= !aboutInfo.profile_pic? "/images/placeholder.jpg" : "/image/"+aboutInfo.profile_pic %> " alt="" id="profile_pic" class="w-56 h-60"/>
                    <label for="img" class="block font-bold py-2 mt-1">Select image:</label>
                    <input type="file" id="img" name="file" accept="image/*" class="border border-purple-400 outline-purple-500 bg-white py-2 px-3 " />
                    <input type="text" name="file_name" value="profile_pic" class="block invisible"/>
                    <input type="text" name="bucket_name" value="profile_pic" class="block invisible" />
                </div>
                <div class="mx-auto my-3">
                    <label class="inline-block font-bold mr-2 w-24" for="full_name">Full name:</label>
                    <input type="text" id="full_name" name="full_name" value="<%= aboutInfo.full_name %>" class="py-2 px-4 border border-purple-400" />
                </div>
                <div class="mx-auto my-3">
                    <label class="inline-block font-bold mr-2 w-24" for="job">Job:</label>
                    <input type="text" id="job" name="job" value="<%= aboutInfo.job %>" class="py-2 px-4 border border-purple-400" />
                </div>
                <div class="mx-auto my-3">
                    <label class="inline-block font-bold mr-2 w-24" for="dob">DoB:</label>
                    <input type="text" id="dob" name="dob" value="<%= aboutInfo.dob %>" class="py-2 px-4 border border-purple-400" />
                </div>
                <div class="mx-auto my-3">
                    <label class="inline-block font-bold mr-2 w-24" for="bio">Bio:</label>
                    <textarea id="bio" name="bio"  class="w-6/12 h-48 py-2 px-4 border border-purple-400 resize-none" ><%= aboutInfo.bio %></textarea>
                </div>
                <div class="mx-auto my-3">
                    <label class="inline-block font-bold mr-2 w-24" for="location">Location:</label>
                    <input type="text" id="location" name="location" value="<%= aboutInfo.location %>" class="py-2 px-4 border border-purple-400" />
                </div>
                <div class="mx-auto my-3">
                    <label class="inline-block font-bold mr-2 w-24" for="mail">mail:</label>
                    <input type="email" id="mail" name="mail" value="<%= aboutInfo.mail %>" class="py-2 px-4 border border-purple-400" />
                </div>

                <div class="mx-auto my-3 flex flex-col items-end w-full">
                    <button type="submit" class="py-2 px-3 bg-purple-400 mr-20">
                        <i class="fas fa-save px-2"></i>
                        save profile
                    </button>
                </div>
                
            </form>
            
        </div>
    </div>
</div>

<%- include('./partials/footer') -%> 